# Car Price Predictor By ML
###
 ### Goal :- In this project we will predict price of car

## (1) Importing the Required Libraries

In [127]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## (2) Load the DataSet

In [128]:
# loading the data from csv file to pandas dataframe
car_dataset = pd.read_csv(r'A:\MTECH(Data Science)\DataSet\car_price_predictor-master\Cleaned_Car_data.csv')

In [129]:
# inspecting the first 5 rows of the dataframe
car_dataset.head()

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel

In [130]:
# checking the number of rows and columns
car_dataset.shape

(816, 7)

In [131]:
# getting some information about the dataset
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  816 non-null    int64
 1   name        816 non-null    object
 2   company     816 non-null    object
 3   year        816 non-null    int64
 4   Price       816 non-null    int64
 5   kms_driven  816 non-null    int64
 6   fuel_type   816 non-null    object
dtypes: int64(4), object(3)
memory usage: 44.8+ KB

In [132]:
# Unnamed: 0 column will not affect the car price prediction so we will remove it.
car_dataset.drop(columns=['Unnamed: 0'], inplace=True)

In [133]:
# checking the number of missing values
car_dataset.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [134]:
# checking the distribution of categorical data
print(car_dataset.fuel_type.value_counts())

fuel_type
Petrol    428
Diesel    386
LPG         2
Name: count, dtype: int64

In [135]:
# Print unique vales from each column
for col in car_dataset.columns:
    print('Unique values of ' + col)
    print(car_dataset[col].unique())
    print("======================")

Unique values of name
['Hyundai Santro Xing' 'Mahindra Jeep CL550' 'Hyundai Grand i10'
 'Ford EcoSport Titanium' 'Ford Figo' 'Hyundai Eon'
 'Ford EcoSport Ambiente' 'Maruti Suzuki Alto' 'Skoda Fabia Classic'
 'Maruti Suzuki Stingray' 'Hyundai Elite i20' 'Mahindra Scorpio SLE'
 'Audi A8' 'Audi Q7' 'Mahindra Scorpio S10' 'Hyundai i20 Sportz'
 'Maruti Suzuki Vitara' 'Mahindra Bolero DI' 'Maruti Suzuki Swift'
 'Maruti Suzuki Wagon' 'Toyota Innova 2.0' 'Renault Lodgy 85'
 'Skoda Yeti Ambition' 'Maruti Suzuki Baleno' 'Renault Duster 110'
 'Renault Duster 85' 'Honda City 1.5' 'Maruti Suzuki Dzire' 'Honda Amaze'
 'Honda Amaze 1.5' 'Honda City' 'Datsun Redi GO' 'Maruti Suzuki SX4'
 'Mitsubishi Pajero Sport' 'Honda City ZX' 'Tata Indigo eCS'
 'Volkswagen Polo Highline' 'Chevrolet Spark LS' 'Renault Duster 110PS'
 'Mini Cooper S' 'Skoda Fabia 1.2L' 'Renault Duster' 'Mahindra Scorpio S4'
 'Mahindra Scorpio VLX' 'Mahindra Quanto C8' 'Ford EcoSport' 'Honda Brio'
 'Volkswagen Vento Highline' 'Hyundai i20 Magna' 'Toyota Corolla Altis'
 'Hyundai Verna Transform' 'BMW 3 Series' 'Maruti Suzuki A'
 'Toyota Etios GD' 'Ford Figo Diesel' 'Chevrolet Beat LT' 'BMW 7 Series'
 'Mahindra XUV500 W8' 'Hyundai i10 Magna' 'Hyundai Verna Fluidic'
 'Maruti Suzuki Ertiga' 'Honda Amaze 1.2' 'Hyundai i20 Asta'
 'Maruti Suzuki Eeco' 'Maruti Suzuki Esteem' 'Maruti Suzuki Ritz'
 'Toyota Etios Liva' 'Chevrolet Spark' 'Nissan Micra XV' 'Chevrolet Beat'
 'Ford EcoSport Trend' 'Tata Indica V2' 'Hindustan Motors Ambassador'
 'Toyota Innova 2.5' 'Volkswagen Jetta Highline'
 'Volkswagen Polo Comfortline' 'Volkswagen Polo' 'Mahindra Scorpio'
 'Nissan Sunny' 'Renault Kwid' 'Chevrolet Spark LT' 'Fiat Punto Emotion'
 'Hyundai i10 Sportz' 'Chevrolet Beat LS' 'Tata Indigo CS'
 'Hyundai Eon Era' 'Mahindra XUV500' 'Ford Fiesta' 'Hyundai i20'
 'Hyundai Fluidic Verna' 'Fiat Petra ELX' 'Maruti Suzuki Ciaz'
 'Maruti Suzuki Zen' 'Hyundai Creta 1.6' 'Mahindra Scorpio SLX'
 'Tata Nano Cx' 'Tata Sumo Victa' 'Volkswagen Passat Diesel'
 'Renault Scala RxL' 'Hyundai i20 Active' 'Mahindra Xylo E4'
 'Mahindra Jeep MM' 'Mahindra Bolero SLE' 'Force Motors Force'
 'Toyota Etios' 'Honda City VX' 'Mahindra Thar CRDe' 'Audi A4 1.8'
 'Mercedes Benz GLA' 'Land Rover Freelander' 'Renault Kwid RXT'
 'Tata Aria Pleasure' 'Mercedes Benz B' 'Datsun GO T' 'Honda Jazz VX'
 'Chevrolet Tavera Neo' 'Hyundai Eon Sportz' 'Tata Sumo Gold'
 'Chevrolet Enjoy 1.4' 'Nissan Terrano XL' 'Maruti Suzuki Maruti'
 'Renault Kwid 1.0' 'Hyundai Accent GLX' 'Mahindra TUV300 T4'
 'Honda Accord' 'Mahindra Scorpio 2.6' 'Honda Mobilio' 'Skoda Laura'
 'Tata Manza Aura' 'Chevrolet Sail UVA' 'Audi A4 2.0' 'Hyundai Elantra SX'
 'Mahindra KUV100 K8' 'Hyundai i10' 'Hyundai Accent' 'Hyundai Verna'
 'Toyota Fortuner' 'Mahindra Bolero Power' 'Skoda Rapid Elegance'
 'Tata Vista Quadrajet' 'Chevrolet Beat Diesel' 'Hyundai Verna 1.4'
 'Maruti Suzuki Versa' 'Tata Indigo LX' 'Volkswagen Vento Konekt'
 'Mercedes Benz C' 'Maruti Suzuki Omni' 'Hyundai Sonata Transform'
 'Honda Jazz S' 'Mahindra Scorpio W' 'Honda Brio V' 'Mahindra TUV300 T8'
 'Nissan X Trail' 'Ford Ikon 1.3' 'Toyota Fortuner 3.0' 'Tata Manza ELAN'
 'Mercedes Benz A' 'Tata Indigo LS' 'Hyundai Verna 1.6' 'BMW 5 Series'
 'Skoda Superb 1.8' 'Audi Q3 2.0' 'Ford Figo Duratorq'
 'Mahindra Logan Diesel' 'Tata Nano GenX' 'Honda City SV'
 'Ford Figo Petrol' 'Toyota Corolla H2' 'Hyundai Xcent Base'
 'Hyundai Accent Executive' 'Tata Zest XE' 'Mahindra XUV500 W6'
 'Tata Tigor Revotron' 'Maruti Suzuki 800' 'Honda Mobilio S' 'Tata Indica'
 'Honda Brio VX' 'Tata Nano Lx' 'Jaguar XE XE' 'Hyundai Eon Magna'
 'Hyundai Eon D' 'Maruti Suzuki Estilo' 'Mahindra Scorpio Vlx'
 'Mitsubishi Lancer 1.8' 'Ford Fiesta SXi' 'Audi A6 2.0'
 'Hyundai Getz Prime' 'Hyundai Santro' 'Chevrolet Beat PS'
 'BMW X1 xDrive20d' 'Tata Nano' 'Chevrolet Cruze LTZ'
 'Mahindra XUV500 W10' 'Hyundai Accent GLE' 'Force Motors One'
 'Chevrolet Spark 1.0' 'Renault Duster 85PS' 'Chevrolet Enjoy'
 'Jeep Wrangler Unlimited' 'Hyundai Verna VGT' 'Maruti Suzuki Celerio'
 'Tata Zest Quadrajet' 'Hyundai i10 Era' 'Tata Indigo Marina'
 'Hyundai Xcent SX' 'Tata Nano LX' 'Mahindra Xylo E8' 'Tata Manza Aqua'
 'Tata Venture EX' 'Skoda Octavia Classic' 'Ford Ikon 1.6'
 'Nissan Sunny XL' 'Volkswagen Polo Trendline' 'Hyundai Elantra 1.8'
 'Tata Indica eV2' 'Jaguar XF 2.2' 'Audi Q5 2.0' 'BMW X1 sDrive20d'
 'Maruti Suzuki S' 'Volkswagen Vento Comfortline' 'Mahindra KUV100'
 'Volkswagen Jetta Comfortline' 'Volvo S80 Summum' 'BMW X1'
 'Renault Duster RxL' 'Honda WR V' 'Mahindra Scorpio LX'
 'Audi A3 Cabriolet' 'Hyundai Santro AE' 'Mahindra Xylo D2'
 'Hyundai Getz GLE' 'Nissan Micra XL' 'Chevrolet Tavera LS'
 'Tata Tiago Revotron' 'Tata Tiago Revotorq' 'Ford Fusion 1.4'
 'Fiat Linea Emotion' 'Toyota Corolla' 'Tata Sumo Grande'
 'Volkswagen Polo Highline1.2L' 'Hyundai Creta' 'Tata Bolt XM'
 'Datsun Go Plus' 'Ford Endeavor 4x4' 'Mahindra Logan'
 'Chevrolet Sail 1.2' 'Tata Manza' 'Toyota Etios G' 'Toyota Qualis'
 'Mahindra Quanto C4' 'Hyundai i20 Select' 'Hyundai Getz' 'Skoda Fabia'
 'Tata Zest XM']
======================
Unique values of company
['Hyundai' 'Mahindra' 'Ford' 'Maruti' 'Skoda' 'Audi' 'Toyota' 'Renault'
 'Honda' 'Datsun' 'Mitsubishi' 'Tata' 'Volkswagen' 'Chevrolet' 'Mini'
 'BMW' 'Nissan' 'Hindustan' 'Fiat' 'Force' 'Mercedes' 'Land' 'Jaguar'
 'Jeep' 'Volvo']
======================
Unique values of year
[2007 2006 2014 2012 2013 2016 2015 2010 2017 2008 2018 2011 2019 2009
 2005 2000 2003 2004 1995 2002 2001]
======================
Unique values of Price
[  80000  425000  325000  575000  175000  190000  830000  250000  182000
  315000  415000  320000 1000000  500000  350000  160000  310000   75000
  100000  290000   95000  180000  385000  105000  650000  689999  448000
  549000  501000  489999  280000  349999  284999  345000  499999  235000
  249999 1475000  395000  220000  170000   85000  200000  570000  110000
  448999 1891111  159500  344999  449999  865000  699000  375000  224999
 1200000  195000  351000  240000   90000  155000  600000  189500  210000
  390000  135000 1600000  701000  265000  525000  372000  635000  550000
  485000  329500  251111  569999   69999  299999  399999  450000  270000
  158400  179000  125000  299000  150000  285000  340000   70000  289999
  849999  749999  274999  984999  599999  244999  474999  245000  169500
  275000  370000  168000  145000   98500  209000  185000  900000  699999
  199999  544999  199000  540000   49000  700000   55000  895000  355000
  565000  365000   40000  400000  330000  580000  379000  219000  519000
  730000 2000000 2100000 1400000  311000  855000  535000  178000  300000
  255000  549999  380000   57000  410000  225000  120000   59000  599000
  675000   72500  610000  230000  520000  524999  424999  644999  584999
  799999  444999  649999  944999  574999  374999  130000  401000 1350000
  174999  239999   99999  324999 1074999 1130000  149000  770000   30000
  335000  399000   65000  169999  165000  560000  950000  715000   45000
  940000  155555 1500000  495000  800000 1299000  530000 1499000   32000
  405000  760000  750000  419000  140000 1540000  123000  498000  480000
  488000 1525000  548900  725000   99000   52000 2800000  499000  381000
  278000  690000  260000   90001  115000 1599000  159000   51999  215000
   35000 1150000  269000   60000  430000 8500003  401919  490000  424000
  205000  549900  435000  189700  389700  360000  295000  114990 1065000
  470000   48000  188000  465000  179999 2190000 2390000 1075000  475000
 1025000  615000 1900000 1490000 1510000 1850000  790000 1725000 1225000
   68000  970000 3100000  899000   88000   53000  568500   71000  590000
  795000   42000  189000  162000   35999 2900000   39999   50500  510000
  860000  500001]
======================
Unique values of kms_driven
[ 45000     40  28000  36000  41000  25000  24530  60000  30000  32000
  48660   4000  16934  43000  35550  39522  39000  55000  72000  15975
  70000  23452  35522  48508  15487  82000  20000  68000  38000  27000
  33000  46000  16000  47000  35000  30874  15000  29685 130000  19000
  54000  13000  38200  22000  50000  13500   3600  45863  60500  12500
  18000  13349  29000  44000  42000  14000  49000  36200  51000 104000
  33333  33600   5600   7500  24330  65480 200000  59000  99000   2800
  21000  11000  66000   3000   7000  38500  37200  43200  24800  45872
  40000  11400  97200  52000  31000 175430  37000  65000   3350  75000
  62000  73000   2200  54870  34580  97000     60  80200   3200      0
   5000    588  71200 175400   9300  56758  10000  56450  56000  32700
   9000     73 160000  58559  57000 170000  80000   6821  23000  34000
   1800 400000  48000  90000  12000  69900 166000    122  36469   7800
  24695  15141  59910 100000   4500 129000    300 131000 111111  59466
  25500  44005   2110  43222 100200     65 140000 103553  58000 120000
  49800    100  81876   6020  55700  18500  53000  35500  22134   1000
   8500  87000   6000   8000  55800  56400  72160  11500 133000   2000
  88000  65422 117000 150000  10750   6800   9800  57923  30201   6200
  37518  24652    383  95000   3528  52500  47900  52800 195000  48008
  48247   9400  64000   2137  10544 147000  90001  48006  74000  85000
  29500  39700  67000  19336  60105  45933 102563  28600  41800 116000
  42590   7400  54500  76000  11523  38600  95500  37458  85960  12516
  30600   2550  62500  69000  28400  68485   3500  85455  63000   1600
  77000  26500   2875  13900   1500   2450   1625  33400  60123 137495
  91200 146000 100800   2100   2500 132000]
======================
Unique values of fuel_type
['Petrol' 'Diesel' 'LPG']
======================

In [136]:
car_dataset.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

### (3) convert all the categorical variables into numerical format.

In [137]:
# LabelEncoder = Used to convert categorical variables into numerical format.
#              = It assigns a numerical label to each category.
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder() # Call LabelEncoder fun. and assign into LE variable
car_dataset.iloc[:,0] = LE.fit_transform(car_dataset.iloc[:,0].values) # iloc is used for position based selection.
car_dataset.iloc[:,1] = LE.fit_transform(car_dataset.iloc[:,1].values)
car_dataset.iloc[:,5] = LE.fit_transform(car_dataset.iloc[:,5].values)

In [138]:
# view after convert all the categorical variables into numerical format.
car_dataset.head()

  name company  year   Price  kms_driven fuel_type
0   91       9  2007   80000       45000         2
1  118      13  2006  425000          40         0
2   88       9  2014  325000       28000         2
3   40       6  2014  575000       36000         0
4   45       6  2012  175000       41000         0

## (3) Separating the Independent Variable(X) & Dependent Variable(Y)

In [140]:
x = car_dataset.drop(['Price'],axis=1)
y = car_dataset['Price']

In [155]:
x.head()

  name company  year  kms_driven fuel_type
0   91       9  2007       45000         2
1  118      13  2006          40         0
2   88       9  2014       28000         2
3   40       6  2014       36000         0
4   45       6  2012       41000         0

In [158]:
y.head()

0     80000
1    425000
2    325000
3    575000
4    175000
Name: Price, dtype: int64

### (4) Splitting Training and Test data

In [143]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### (5). Model Creation

In [144]:
model = LinearRegression()

### (6). Train Model

In [145]:
model.fit(x_train, y_train)

LinearRegression()

### (7). Test Model

In [146]:
predict = model.predict(x_test)

In [154]:
car_dataset.head(3)

  name company  year   Price  kms_driven fuel_type
0   91       9  2007   80000       45000         2
1  118      13  2006  425000          40         0
2   88       9  2014  325000       28000         2

### 8. Car Price Prediction

In [151]:
a = input('Enter Name code : ')
b = input('Enter company code : ')
c = input('Enter year : ')
d = input('Enter kms_driven : ')
e = input('Enter fuel_type code : ')
input_data_model = pd.DataFrame(
    [[a,b,c,d,e]],
    columns=['name','company','year','kms_driven','fuel_type'])

Enter Name code :  91
Enter company code :  9
Enter year :  2007
Enter kms_driven :  45000
Enter fuel_type code :  2

In [152]:
input_data_model

  name company  year kms_driven fuel_type
0   91       9  2007      45000         2

In [153]:
print('Predicted price will be : ',model.predict(input_data_model))

Predicted price will be :  [198053.71393685]

# **********************************************************************

## Name - Aatish Kumar Baitha
  - M.Tech(Data Science 2nd Year Student)
- My Linkedin Profile -
  - https://www.linkedin.com/in/aatish-kumar-baitha-ba9523191
- My Blog
  - https://computersciencedatascience.blogspot.com/
- My Github Profile
  - https://github.com/Aatishkb

# Thank you!